/* body style */
body{
    background-color: #334249;
    color: #cab9b2;
    font-family: "Audiowide", sans-serif;
}

/* top section for nav bar */
.headingNav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    
    margin-left: 20px;
    margin-right: 20px;
}

/* select box style */
.selectClass{
    color: #cab9b2;
    text-decoration: none;
}

/* select box style whrn hover*/
.selectClass:hover{
    color: #ac9c95;
}

/* padding left and right for style */
.paddClass{
    margin-left: 20px;
    margin-right: 20px;
}

/* heading style for left text */
.headingClass{
    font-size: 40px;
}

/* middle photo flex box */
.middlePhotoShow{
    display: flex;
    justify-content: center;
}

/* index page middle crystal display */
.bottomSection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-left: 20px;
    margin-right: 20px;
}

/* contach style for input elementss */
.inputStyle{
    width: 80%;
    height: 30px;
}

/* bottom stack box style */
.footerClass{
    position: fixed;
    left: 0;
    bottom: 0;

    background-color: white;
    width: 100%;
}

/* spinning class for define spin animations */
.aboutSpin{
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 

}

/* spin animation keyfilm */
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}