p.image-container {
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    overflow: hidden;
  }
  
  p.image-container img {
    width: 100%;
  }

  .ftco-blocks-cover-1 .ftco-service-image-1 {
    margin-top: -70px;
    position: static; }

    .thumbnail {
      position: relative;
  }
  
  .caption {
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%;
  }

  .carousel-caption {
    font-size: 600%;
    text-align: left;
    color: white;
    right: auto;
   
    width: 900px;
    margin-bottom: 1.3%;       
  }

  img.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
  
  }

  .animate__animated.animate__zoomInDown {
    --animate-duration: 0.8s;
  }
